<footer>
    <p>&copy; @DateTime.Now.Year - Unofficial Organized Play Operations supported by Ron Schachtner in support of the Too Many Bones board game family.</p>
    <p>The information presented on this site about Too Many Bones, Too Many Bones: Undertow, 40 Days in Daelore, and Age of Tryanny, both literal and graphical, is copyrighted by <a href="https://chiptheorygames.com"> Chip Theory Games</a>. This website is not produced, endorsed, supported, or affiliated with <a href="https://chiptheorygames.com"> Chip Theory Games</a>. We are just a fan of gearlocs and love TMB.</p>
</footer>
